.Image2 {
  padding-top: 2vh;
  margin: 5vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.bodyimg {
  display: inline;
  /* padding-left: 20vw; */
  height: 20rem;
  padding-right: 3rem;
  margin-left: 40vw;
}

.bodyimg:hover {
  /* transition-delay: 1s; */
  transform: scale(1.05, 1.05);
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.cont1 {
  left: 8vw;
  position: absolute;
  top: 50vh;
  /* right: 1vw; */
  font-size: 40px;
  font-weight: 700;
}

.content11 {
  position: absolute;
  top: 58vh;
  left: auto;
  font-size: 24px;
}
.img2 {
  position: absolute;
  height: 46px;
  width: 83px;
  top: 50vh;
}

@media screen and (min-width: 960px) {
  /* .bodyimg {
    display: block;
  } */
}
